body{
  background-color: grey;
  margin: 0;
  padding: 0;
}
nav ul {

  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: right;
  display: inline-block;
  margin-right: 50px;
}

nav ul li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}
h1
{
  margin: 0;
  text-align: center;
  color:black;
}
.photo img{
  height:570px;
  width: 100%;
}
h2{
  color:red;
}
.projects{
  color: purple;
}
.about{
  color:green;
}
#about{
  color:blue;
}
h3{
  color:red;
}
p{
  color:orange;
}
#image{
  border-right: :30%

}
